html
  head
    title= title
    link(rel="stylesheet", href="style.css")
  body
    h1= message
    a(href="/docs") Доки
    h3='Зарегистрированные пользователи'
    table(class="table")
      tr
        th='Имя'
        th='С подарком'
      each usr in users
        tr
          td=usr.name
          td
            if usr.gifted
              p='с подарком'
            else 
              p='без подарка'
    if allGifted
      nav
        ul
          li
            a(href="/result") Show result
    else 
      h3='Инструкция:'
      ol
        li
          | Добавить бота 
          a(href="http://t.me/ComNikitaKonanSecretSantaBot") bot
        li='В чате с ботом ввести команду /register'
        li='Ждать розыгрыша'
        li='Когда розыгрыш состоится, Вам придет сообщение кому Вы дарите подарок 😊'
      form(action="/get-started", method="POST", style="text-align: center;")
        input(type='submit', value='Lets get started', style="font-size: 20px; padding: 20px; color: #fff; cursor: pointer; background-color: #f00; font-weight: bold; text-transform: uppercase;")
    