html
  head
    title= title
  body
    h1= message
    a(href="/docs") Доки
    p='Зарегистрированные пользователи'
    table
      tr
        th=Name
      each usr in users
        tr
          td=usr.name
    if allGifted
      nav
        ul
          li
            a(href="/result") Show result
    else 
      h3='Инструкция:'
      form(action="/get-started", method="POST", style="text-align: center;")
        input(type='submit', value='Lets get started', style="font-size: 20px; padding: 20px; color: #fff; cursor: pointer; background-color: #f00; font-weight: bold; text-transform: uppercase;")
    